.graph-border{
    font-Size:20px;
}
.emotion-display{
    display:none;
    width:95vw;
    margin-left:10px;
    padding:20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius:8px;
    margin-bottom: 10px;

}
.emotion-display-2{
    padding:20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius:8px;
}
.background-colors{
    background: rgb(30,93,136);
    background: linear-gradient(90deg, rgba(30,93,136,0.05926120448179273) 0%, rgba(23,253,253,0.05085784313725494) 100%, rgba(255,255,255,0.4682247899159664) 171742%);
}
.moodheding-display{
    display: none;
}
@media screen and (max-width:768px){
    .emotion-display{
        display:block;
    }
    .emotion-display-2{
        display:none;
    }
    .emo-help{
        margin-left:90px !important;
    }
    .moodheding-display{
        display: block;
    }
}