.days {
    width: 60px !important;
}

.day {
    border-radius: 50% !important;
    height: 60px !important;
    /*text-align: center !important;*/
    padding-top: 15px !important;
    font-size: 18px;
}

.spe-day {
    padding-left: 10px !important;
}

.schedule-day-align {
    width: 80% !important;
}

/*time table Recode*/
.time-square {
    text-align: center;
    padding: 10px;
    background-color: #171742;
    width: 95px;
    color: #FFFFFF;
    border-radius: 10px;
}

.task-section {
    width: 100%;
    border: 3px #000000 !important;
    background-color: #939393 !important;
    height: 20px;
    color: #000000;
    text-align: left !important;
}

.item-text-align {
    padding-top: 2%;
}

.icons-align {
    margin-left: 630px;
}

.trash-align {
    text-align: right !important;
}

.button-mobile-response-add-btn {
    display: none !important;
    height: 3px !important;
    padding: 18px !important;
}

.css-1qap535-MuiPaper-root {
    background-color: transparent !important;
}

@media screen and (max-width: 1600px){
    .add-new-button-container-2 {
        width: 150px !important;
    }
}
@media screen and (max-width: 1440px) {
    .button-mobile-response-add-btn {
        display: inline-flex !important;
    }

    .add-new-button-container-2 {
        display: none !important;
    }

    .days {

        width: 40px !important;
        text-align: left !important;
    }

    .day {
        border-radius: 50% !important;
        height: 40px !important;
        width: 47px !important;
        padding-top: 10px !important;
        font-size: 12px;
    }

}

@media screen and (max-width: 768px) {
    .day {
        border-radius: 50% !important;
        height: 40px !important;
        width: 47px !important;
        padding-top: 10px !important;
        font-size: 12px;
    }

    .schedule-day-align {
        width: 100% !important;
    }

    .schedule-time {
        font-size: 12px !important;
        width: 80px !important;
        padding: 3px !important;
        height: 60px !important;
    }

    .item-text-align {
        font-size: 13px !important;
    }

    .deleteIcon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }

    .icon-size {
        zoom: 0.8;
    }

    /*.selector-btn{*/
    /*    padding:0 !important;*/
    /*}*/
}

@media screen and (max-width: 405px) {
    .day {
        border-radius: 50% !important;
        height: 35px !important;
        width: 38px !important;
        padding-top: 10px !important;
        font-size: 10px;
    }

    .days {
        width: 20px !important;
    }
}
